<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Marine Zones</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
<div class="container">
    <div class="starter-template">
        <table class="table table-hover" id="codeTable">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Product</th>
                    <th>Suburb</th>
                    <th>Time</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="code in codes">
                    <td>{{code.row.code}}</td>
                    <td>{{code.row.product}}</td>
                    <td>{{code.row.suburb}}</td>
                    <td>{{code.row.time | amDateFormat:'DD-MMM-YYYY'}}</td>
                    <td>
                        <a href="#/main/dashboard/{{code.key}}" class="update-icon btn btn-primary btn-xs"> <i class="glyphicon glyphicon-pencil"></i></a>
                        <a href="#/main/dashboard/{{code.key}}" class="delete-icon btn btn-danger btn-xs"><i class="glyphicon glyphicon-trash"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- /.container -->
