<div class="container">
    <form class="signup well">
        <legend><a href="#"><i class="glyphicon glyphicon-pencil"></i></a> Sign up!</legend>
        <label for="inputFirstName" class="sr-only">First Name</label>
        <input type="email" id="inputFirstName" class="form-control" placeholder="First Name" required>
        <label for="inputLastName" class="sr-only">Last Name</label>
        <input type="email" id="inputLastName" class="form-control" placeholder="Last Name" required>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <label for="inputConfirmPassword" class="sr-only">Confirm Password</label>
        <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Confirm Password" required>
        <a class="btn btn-lg btn-primary btn-block" ng-click="login()">Sign Up</a>
        <div class="form-group" style="margin-top:12px;">
            <div class="col-md-12 control">
                <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
                    Already have an account?
                    <a href="#/login">Login</a>
                </div>
            </div>
        </div>
    </form>
</div>
