<div class="container">
    <form class="signup well" name="Form" role="form">
        <legend><a href="#"><i class="glyphicon glyphicon-pencil"></i></a> Sign up!</legend>

        <label for="inputFirstName" class="sr-only">First Name</label>
        <input type="text" name="inputFirstName" class="form-control" placeholder="First Name" ng-model="signup.firstname" validator="required" valid-method="submit">
        <span id="inputFirstName"></span>
        
        <label for="inputLastName" class="sr-only">Last Name</label>
        <input type="text" name="inputLastName" class="form-control" placeholder="Last Name" ng-model="signup.lastname" validator="required" valid-method="submit">
        <span id="inputLastName"></span>

        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="inputEmail" class="form-control" placeholder="Email address" ng-model="signup.email" validator="required" valid-method="submit">
        <span id="inputEmail"></span>

        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" class="form-control" placeholder="Password" ng-model="signup.password" validator="required" valid-method="submit">
        <span id="inputPassword"></span>

        <label for="inputConfirmPassword" class="sr-only">Confirm Password</label>
        <input type="password" name="inputConfirmPassword" class="form-control" placeholder="Confirm Password" ng-model="signup.confirmpassword" validator="required" valid-method="submit">
        <span id="inputConfirmPassword"></span>
        
        <button  class="btn btn-lg btn-primary btn-block" ng-click="signup.submit(Form)">Sign Up</button >
        <div class="form-group" style="margin-top:12px;">
            <div class="col-md-12 control">
                <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
                    Already have an account?
                    <a href="#/login">Login</a>
                </div>
            </div>
        </div>
    </form>
</div>
